
*.cso
*.cso
*.cso
*.cso
*.cso
*.pch
*.obj
*.ilk
*.ipch
*.ipdb
*.iobj
*.exp
*.cso
*.tlog
*.log
CorgiEngine/.vs/Engine/v14/.suo
*.idb
*.pdb
*.txt
_Working Build/Assets/Shaders/PS_BloomAdd.cso
_Working Build/Assets/Shaders/PS_BloomLuminance.cso
*.txt
*.opendb
CorgiEngine/Engine.VC.db
*.cache
*.obj
*.cso
Junk/*
_Working Build/Assets/Shaders/PS_BloomLuminance.cso
_Working Build/Assets/Shaders/PS_FullScreenAdd.cso
_Working Build/Debug/Launcher_Debug_x64.exe
_Working Build/Debug/Launcher_Debug_x64.exp
_Working Build/Debug/Launcher_Debug_x64.ilk
_Working Build/Debug/Launcher_Debug_x64.lib
_Working Build/Debug/TServer_Debug.exe
Libs/Collision_Debug_x64.lib
Libs/Collision_Retail_x64.lib
Libs/Component_Debug_x64.lib
Libs/Component_Retail_x64.lib
Libs/Console_Debug_x64.lib
Libs/Console_Retail_x64.lib
Libs/Console_Debug_x64.lib
Libs/DirectXTK_Desktop_2015_Retail_x64.lib
Libs/Engine_Debug_x64.lib
Libs/Engine_Retail_x64.lib
Libs/Game_Debug_x64.lib
Libs/Game_Retail_x64.lib
Libs/Script_Debug_x64.lib
Libs/Script_Retail_x64.lib
Libs/TShared_Debug.lib
Libs/TShared_Release.lib
Libs/Utilities_Debug_x64.lib
Libs/Utilities_Retail_x64.lib
_Working Build/Debug/Launcher_Debug_x64.lib
_Working Build/Debug/Launcher_Debug_x64.ilk
_Working Build/Debug/Launcher_Debug_x64.exp
Libs/Engine_Debug_x64.lib
Libs/Game_Debug_x64.lib
Libs/TClient_Debug_x64.lib
Libs/TShared_Debug_x64.lib
CorgiEngine/x64/Debug/TShared_Debug.lib
CorgiEngine/x64/Debug/TServer_Debug.exe
CorgiEngine/x64/Debug/TClient_Debug.exe
*.cso
Libs/TClient_Release_x64.lib
Libs/TShared_Release_x64.lib
Libs/Utilities_Release_x64.lib
Libs/Script_Release_x64.lib
Libs/Game_Release_x64.lib
Libs/Engine_Release_x64.lib
Libs/DirectXTK_Desktop_2015_Release_x64.lib
Libs/Component_Release_x64.lib
Libs/Console_Release_x64.lib
Libs/Collision_Debug_x64.lib
Libs/Audio_Release.lib
_Working Build/Retail/Launcher_Retail_x64.lib
_Working Build/Release/TClient_Release.exe
